body{
     background-color: #f0f0f0;
     font-family: Arial, sans-serif;
    text-align: center ;
}
.maindiv{
    background-color: white;
    width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form{
   margin: 0px 60px;
}

.contacts{
    margin: 20px 0px;
}